<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/grid.min.css')}}">
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>TeamBoard page</title>
</head>
<body>
    <div class="container">
        <!--NavBar-->
        {% include "inc/contents.html" ignore missing without context %}   
    
        <!--Board-->
        <div class="row">
            <div class="col-12">
                <h1 class="text-center teamname"><strong>{{teamName[0][0]}}</strong> 팀 게시판 입니다.</h1>
            </div>
        </div>

        <!--Boadrd List-->
        <div class="board">
            <div class="row">
                <div class="col-9">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">글 번호</th>
                            <th scope="col">글 제목</th>
                            <th scope="col">댓글수</th>
                            <th scope="col">조회수</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>프론트엔드좀 도와줄사람</td>
                            <td>2</td>
                            <td>12</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            <!--Team List-->
            
                <div class="col-3"> 
                    <div class="list-group">
                        <div class="teamlist">
                            <a href="#" class="list-group-item list-group-item-action list-group-item-warning"
                            >팀원 목록</a>
                            <a href="#" class="list-group-item list-group-item-action list-group-item-light"
                            >빠른거북이</a>
                            <a href="#" class="list-group-item list-group-item-action list-group-item-light"
                            >베짱이</a>
                            <a href="#" class="list-group-item list-group-item-action list-group-item-light"
                            >자바는어렵다</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</body>
</html>

