<hr>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="/users" class="logo"> 
                    <img src="{{ure_for('static'filename='img/logo.png')}}" alt="logo" width="150px"> 
                </a>
                <br>
                <p>
                    개발 : 최승주, 유승현<br><br>
                    <span class="rights">4662 경기도 부천시 지봉로 43<br>
                    Copyright © The Conprost All rights reserved.</span>
                </p>

            </div>
        </div>
    </div>
</footer>